#info {
  background-image: url($imagePath + 'second_screen_bg.png'), var(--gradient_blue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--white);
  padding: 200px 0 120px;

  .members {
    @include flexbox(row, center, flex-start);
    gap: 80px;

    span {
      display: block;
    }

    .number {
      font-size: 80px;
      font-weight: 700;
    }

    .title {
      font-size: 30px;
    }
  }

  .activities {
    font-size: 20px;
    max-width: 600px;
    margin: 10px auto 0;


    .list {
      padding: 5px;
      border: 1px solid var(--azure);

      div {
        @include flexbox(row, center, stretch);
        gap: 5px;
      }

      div:first-child {
        padding: 0 0 5px;
      }
    }

    .arrow{
      display: block;
      margin: 0 auto;
    }
  }

  .btn-info {
    @include flexbox(row, center, center);
    flex: 1;
    border-radius: 0;
    border: 1px solid var(--azure);
    padding: 40px 15px;
    text-align: center;
    font-size: 20px;
    color: var(--white);
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 5px;
      border: 1px solid var(--azure);
      border-radius: 0;
    }
  }

  .btn-row {
    @include flexbox(column, center, center);
    gap: 10px;

    span {
      font-size: 15px;
      font-style: italic;
    }
  }

  @include res('mobile') {
    background-image: url($imagePath + 'second_screen_mobile_bg.png'), var(--gradient_blue);
    padding: 125px 0 120px;
    background-size: cover;

    .icon {
      display: none;
    }

    .members {
      gap: 30px;

      .number {
        font-size: 40px;
      }

      .title {
        font-size: 20px;
      }
    }

    .btn-info {
      font-size: 15px;
      padding: 40px 10px;
    }

    .activities {
      font-size: 15px;
      padding: 130px 0 0;
    }

  }
}