#tickets {
  background: var(--gradient_blue);
  color: var(--white);
  padding: 80px 0 120px;

  .container {
    max-width: 1100px;
  }

  .main-content {
    @include flexbox(row, space-between, stretch);
    gap: 20px;

    & > div {
      @include flexbox(column, flex-start, stretch);
    }

    & > div:first-child {
      justify-content: space-between;
    }

    .content {
      font-style: italic;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.4;
      width: 300px;

      a {
        font-size: 20px;
      }
    }
  }

  h2 {
    font-size: 60px;
    font-weight: 700;
    font-style: normal;
    margin: 0 0 20px;
  }

  .plans {
    flex: 1;
    text-align: center;

    .title {
      font-size: 30px;
      font-weight: 700;
      margin: 25px 0 10px;

      span {
        display: block;
        font-size: 16px;
        font-weight: 500;
        font-style: italic;
      }
    }
  }
  .plans-info {
    @include flexbox(row, space-between, stretch);
    gap: 10px;
    width: 100%;
  }

  .btn:not(.btn-primary) {
    @include border(var(--white));
    color: var(--white);
    padding: 15px 30px;

    &:after {
      border-radius: 40px;
    }

    &:hover {
      @include border(var(--cta_green));
      color: var(--cta_green);
      padding: 15px 30px;
    }

    &:active {
      @include border(var(--violet));
      color: var(--violet);
      padding: 15px 30px;
    }
  }

  .plan0 {
    color: var(--azure);

    &.plan-box {
      @include border(var(--azure));
    }
  }

  .plan1 {
    color: var(--bright_yellow);
    background: url($imagePath + 'svg/vip_bg.svg') center no-repeat;
    background-size: 175%;

    &.plan-box {
      @include border(var(--bright_yellow));
    }
  }

  .plan-box {
    flex: 1;
    opacity: .9;

  }
  .type {
    font-size: 30px;
    font-weight: 700;
    display: block;
  }

  .price {
    display: block;
    font-size: 40px;
    font-weight: 700;
    padding: 15px 0;

    span {
      font-size: 16px;
      font-weight: 500;
      font-style: italic;
      display: block;
    }
  }

  .text {
    display: block;
    color: var(--white);
    font-style: italic;
    line-height: 1.8;
  }

  .plans-wrapper:not(:first-child) {
    .plan-box {
      opacity: .5;
    }
  }

  .plans-wrapper:first-child {

    .plan0 {
      &.plan-box {
        padding: 40px 0;
      }
    }

    .plan1 {
      &.plan-box {
        padding: 40px 0;
      }
    }

    .price {
      font-size: 60px;
      padding: 20px 0;
    }

  }

  .abilities {
    padding: 40px 0 0;

    .title {
      font-size: 15px;
      font-weight: 700;
    }

    .abilities-items {
      padding: 0 0 60px;
    }

    .abilities-item {
      padding: 0 0 15px;
      margin: 0 0 15px;
      border-bottom: 1px rgba(152, 66, 164, .3) solid;
      display: flex;
      justify-content: stretch;
      align-items: flex-start;

      & > * {
        flex: 1;
      }

      &:last-child {
        border-bottom: none;
      }

      .icon {
        text-align: center;
      }
    }

    .btn-row {
      text-align: center;
    }

    .header {
      display: flex;
      justify-content: stretch;
      align-items: flex-start;
      margin: 0 0 25px;

      & > * {
        flex: 1;
      }

      span {
        text-align: center;
        font-size: 15px;
        font-weight: 700;
      }

      span:first-child{
        color: var(--azure);
      }

      span:last-child{
        color: var(--bright_yellow);
      }
    }
  }

  @include res('mobile') {
    padding: 20px 0 40px;

    .main-content {
      flex-direction: column;
      text-align: center;
      gap: 40px;

      & > div:first-child {
        align-items: center;
        gap: 10px;
      }

      .content {
        width: 100%;
      }

      svg {
        height: 160px;
      }
    }

    .abilities {
      padding: 40px 0;
    }

    .plans-wrapper {
      .plans-info {
        flex-direction: column;
      }

      .price {
        font-size: 30px;
      }

      &:first-child {
        .price {
          font-size: 40px;
        }
      }
    }
  }
}